.heading {
  background-color: orange;
}/*added a background color to know if I linked it correctly*/
h2 {
    background-color: black;
    color: white;
}
h3 {
    background-color: lightblue;
    color: yellow;
}
